.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 8px;
	width: 100%;
	max-width: 400px;
	background-color: var(--primary-dark);
	padding: 20px;
	border-radius: 10px;
	color: var(--primary-dark);
	box-shadow: var(--shadow-main);
}
.title {
	font-size: 2.5rem;
	font-weight: bold;
	color: var(--accent-orange);
}
.input {
	border-color: var(--accent-orange);
	color: var(--secondary-blue);
}
.button {
	width: 100%;
	background-color: var(--accent-orange);
}
